* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hide {
    display: none;
}

.z-index {
    z-index: -1 !important;
}

.opacity {
    opacity: 1 !important;
}

.width {
    width: 100% !important;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    width: 310px;
    margin: 0 auto;
}

h1 {
    color: #FFF;
    margin: 20px 0;
    text-align: center;
}

.container-area {
    position: relative;
}

.area {
    width: 310px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
    border: 5px solid #fff;
    transition: opacity .3s ease;
    opacity: .2;
}

.block-area {
    width: 100%;
    height: 100%;
    background: hsla(0, 3%, 15%, 0.2);
    position: absolute;
    top: 0;
}

.line {
    width: 0;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 5px;
    transform-origin: left center;
    transition: width 1s ease;
}
/* 
.line {
    width: 300px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: left center;
    transition: width .3s ease;
} */

.area .item {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
}

.item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.item.t {
    border-top: 1px solid #FFF;
}
.item.l {
    border-left: 1px solid #FFF;
}
.item.r {
    border-right: 1px solid #FFF;
}
.item.b {
    border-bottom: 1px solid #FFF;
}

.info {
    display: flex;
    min-width: 310px;
    width: 310px;
    min-width: none;
    margin-top: 30px;
    border: 1px dotted #FFF;
    padding: 10px;
    position: relative;
}

.info-player,
.info-result {
    flex: 1;
    text-align: center;
    color: #FFF;
}

.trophy {
    width: 40px;
    position: absolute;
    top: 0;
    right: 0;
}

.reset {
    width: 100%;
    border: 1px solid #000;
    background-color: rgba(0, 0, 0, 0.2);
    color: #FFF;
    padding: 10px;
    margin-top: 20px;
}